.badge-default {
    background-color: #636c72;
}

.badge-primary {
    background-color: #429DB5;
}

.badge-success {
    background-color: #A6D7AC;
}

.badge-info {
    background-color: #106680;
}

.badge-warning {
    background-color: #DB7A13;
}

.badge-danger {
    background-color: #C40B07;
}