
/* Badge */

.badge {
  border-radius: 0;
  padding: .5em .7em;
  font-weight: 500;
  color: $white;
}


.badge-notification {
  border-radius: 8px;
  padding: .4em .8em;
  margin-left: .4em;
}


.badge-default {
    background-color: #636c72;
}


.badge-gold {
    background-color: $gold;
}
.badge-silver {
    background-color: $silver;
}
.badge-platinum {
    background-color: $platinum;
}




.badge-primary {
    background-color: $well-blue;
}

.badge-secondary {
    background-color: $dark-cloud;
}

.badge-success {
    background-color: $light-grass;
}

.badge-info {
    background-color: $ocean-blue;
}

.badge-warning {
    background-color: $orange;
}

.badge-danger {
    background-color: $red;
}