

@import "./abstracts/variables";


/* Buttons */

.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05rem;
  padding: 0.5em 1em;
  font-family: Roboto, sans-serif;

}



.btn.focus, .btn:focus {
box-shadow: 0 0 0 2px rgba(73,161,184,.25)
}

.btn-primary {
  background-color: $well-blue;
  border-color: $well-blue;
}

.btn-primary:hover {
   color: $well-blue;
   background-color: $white;
   border-color: $well-blue;
   opacity: .8;
}


.btn-primary.active, 
.btn-primary:active, 
.show>.btn-primary.dropdown-toggle {
    color: $white;
    background-color: $well-blue;
    background-image: none;
    border-color: $well-blue;
}

.btn-success {
    color: $white;
    background-color: $light-grass;
    border-color: $light-grass;
}

.btn-success:hover {
    color: $white;
    background-color: $light-grass;
    border-color: $light-grass;
}


.btn-danger {
    color: $white;
    background-color: $red;
    border-color: $red;
}

.btn-danger:hover {
    color: $white;
    background-color: darken ($red, 10);
    border-color: darken ($red, 10);
}

.btn-warning {
    color: $white;
    background-color:  $orange;
    border-color:  $orange;
}

.btn-warning:hover {
    color: $white;
    background-color: darken ($orange, 10);
    border-color: darken ($orange, 10);
}

.btn-info {
    color: $white;
    background-color: $ocean-blue;
    border-color: $ocean-blue;
}

.btn-info:hover {
    color: $white;
    background-color: darken ($ocean-blue, 10);
    border-color: darken ($ocean-blue, 10);
}




.btn-outline-primary {
  background-color: transparent;
  border-color: $well-blue;
  color: $well-blue;
}

.btn-outline-primary:hover {
   background-color: $well-blue;
   border-color: $well-blue;
   color: $white;
}

.btn-outline-primary.active, 
.btn-outline-primary:active, 
.show>.btn-outline-primary.dropdown-toggle {
   color: $white;
   background-color: $well-blue;
   border-color: $well-blue;
   opacity: .8;
}


.btn-outline-secondary {
  background-color: transparent;
  border-color: $light-grey;
  color: $light-grey;
}

.btn-outline-secondary:hover {
   background-color: $light-grey;
   border-color: $light-grey;
   color: $white;
}


.btn-outline-success {
  background-color: transparent;
  border-color: $light-grass;
  color: $light-grass;
}

.btn-outline-success:hover {
   background-color: $light-grass;
   border-color: $light-grass;
   color:$white;
}


.btn-outline-danger {
  background-color: transparent;
  border-color: $red;
  color: $red;
}

.btn-outline-danger:hover {
   background-color: $red;
   border-color: $red;
   color:$white;
}


.btn-outline-warning{
  background-color: transparent;
  border-color: $orange;
  color: $orange;
}

.btn-outline-warning:hover {
   background-color: $orange;
   border-color: $orange;
   color:$white;
}


.btn-outline-info{
  background-color: transparent;
  border-color: $ocean-blue;
  color: $ocean-blue;
}

.btn-outline-info:hover {
   background-color: $ocean-blue;
   border-color: $ocean-blue;
   color:$white;
}

.btn-outline-light:hover {
  color: $white;
  background-color: $ocean-blue;
   border-color: $ocean-blue;  
}



.searchbutton {
  z-index: 33333;
  display: inline;
  width: 1%;
  padding: 0.3em;
}

.searchbutton:hover {
  background-color: #106680;
  border: #106680;
    width: 16%;
}
