

.btn-primary {
	background-color: #38138E;	
	border: 2px solid #38138E;	
	border-radius: 0em;
	padding: 1em 3em;
}

.btn-primary:hover {
	background: #FFFAF0;
	border: 2px solid #38138E;
	color: #38138E;	
}