.card-primary {
    background-color: $well-blue;
}

.card-success {
    background-color: $light-grass;
}

.card-info {
    background-color: $ocean-blue;
}

.card-warning {
    background-color: $orange;
}

.card-danger {
    background-color: $red;
}

/* Cards */


.card-outline-primary {
  border-color: $well-blue; /*blue*/
}

.card-outline-secondary {
  border-color: $light-grey; /*grey*/  
}

.card-outline-success {
  border-color: $light-grass; /*light green*/
}

.card-outline-info {
  border-color: $ocean-blue; /*dark blue*/ 
}

.card-outline-warning {
  border-color: $orange; /*orange*/ 
}

.card-outline-danger {
  border-color: $red;  /*red*/ 
}

.nav-tabs .nav-link.active{
  box-shadow: 0px;
}


.w-20 {
  width: 20rem;
}

.w-23 {
  width: 23rem;
}

.card {
border-radius: 0rem;
}

.card-img-top {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.card .card-title{
  font-weight: 700;
}

.card-title{
  color: #636c72;
}

.card-title:hover {
  color:  #429DB5;
}


.card-block {
  padding: 1.6rem;
}

.card-primary {
  background-color: #429DB5;
}

.card .card-text {
  font-weight: 100;
}

.card-header {
  background-color: #E8ECEF;
  border-top: 1px solid rgba(0,0,0,.125);
  border-bottom: 0px solid rgba(0,0,0,.125);
}

.card-header:first-child {
  border-radius: 0em;
}

.card-link {
  color: #429DB5;
}



.card-primary, .card-success, .card-info, .card-warning, .card-danger {
    border: none;
}
