$white: #ffffff;
$indigo: #38138E;
$red: #D85B56;
$blue: #6AB7E1;
$creme: #FFFAF0;



$air-color: #144249;
$water-color: #0B667F;
$nourishment-color: #0A7B98;
$light-color: #3C9EB7;
$fitness-color: #92CCD4;
$comfort-color: #A8D6AD;
$sound-color: #63AA85;
$material-color: #41937D;
$mind-color: #306B5E;
$community-color: #23483E;



.icon {
  fill: #000;
}

.icon-white {
  fill: #fff;
}

.icon-gray-light {
  fill: #F6F7F9;
}

.icon-gray-dark {
  fill: #53565A;
}

.icon-well-blue {
	fill: #419CB4;
}
