
.dropdown-item.active, .dropdown-item:active {
    color:$white;
    text-decoration: none;
    background-color: $well-blue;
}


.dropdown, .dropdown-item {
  font-family: museo-sans, sans-serif;
}
  

.dropdown-menu {
    color: $dark-charcoal;
    background-color: $white;
    border: 0px solid rgba($black, .15);
    box-shadow: 0 2px 4px 0 $light-grey;
    border-radius: 0rem;
  }

.dropdown-toggle-big::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0em;
    vertical-align: middle;
    content: "";
    border-top: .7em solid;
    border-right: .7em solid transparent;
    border-left: .7em solid transparent;
}

