.deepbluegrad {
	height: 10em; 
	background: linear-gradient(to right, rgba(20,66,73,1), rgba(7,102,127,1));
}

.darkbluegrad {
	height: 10em; 
	background: linear-gradient(to right, rgba(7,102,127,1), rgba(11,123,151,1));
}

.primarybluegrad {
	height: 10em; 
	background: linear-gradient(to right, rgba(11,123,151,1), rgba(59,157,182,1));
}

.lightbluegrad {
	height: 10em; 
	background: linear-gradient(to right, rgba(59,157,182,1), rgba(145,203,211,1));
}

.lightgreenbluegrad{
	height: 10em; 
	background: linear-gradient(to right, rgba(167,214,173,1), rgba(145,203,211,1));
}

.lightbluegreengrad {
	height: 10em; 
	background: linear-gradient(to right, rgba(145,203,211,1), rgba(167,214,173,1));
}

.lightgreengrad {
	height: 10em; 
	background: linear-gradient(to right, rgba(167,214,173,1), rgba(99,169,132,1));
}