.icon {
  fill: #000;
}

.icon-white {
  fill: #fff;
}

.icon-xl {
  width: 100px;
  height: 100px;
}

.icon-lg {
  width: 75px;
  height: 75px;
}

.icon-md {
  width: 50px;
  height: 50px;
}

.icon-sm {
  width: 25px;
  height: 25px;
}

.icon-xs {
  width: 15px;
  height: 15px;
}
       