
@import "./colors";

.well--air {
	color: $air-color;
}

.well--water {
	color: $water-color;
}

.well--nourishment {
	color: $nourishment-color;
}

.well--light {
	color: $light-color;
}

.well--fitness {
	color: $fitness-color;
}

.well--comfort {
	color: $comfort-color;
}

.well--mind {
	color: $mind-color;
}

.well--sound {
	color: $sound-color;
}
.well--community {
	color: $community-color;
}

.well--black {
	color: #000
}

