

h1, h2, h3, h4, h5, h6, legend, fieldset, optgroup  {
  font-family: museo-sans, sans-serif;
  font-style: normal;
}

body, th, td, input, textarea, select, option {
  font-family: 'Pt serif', serif; 
  font-weight: 400;  
}

button {
  font-family: 'Roboto', sans-serif; 
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.badge {
  font-family: museo-sans, sans-serif;  
} 


mark {
  background-color: #A6D7AC;
  color: white;
}

body {
  font-size: 100%;
	max-width: 100%;
overflow-x: hidden;	
}

.nooverflow{
	overflow:hidden;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

#page {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}

@media (min-width: 43.75em) {
  #page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}

h1 {
  font-size: 2/75em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 3em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.25;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}

h2 {
  font-size: 2em;
  font-weight: 700;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2.25em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  /* 1.375x body copy size = 22px */
  line-height: 1.2;
  /* 25px / 22px */
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.35em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.35em;
    /* 1.75x body copy size = 28px */
    line-height: 1.583;
  }
}

h4 {
  font-size: 1.4em;
  font-weight: 700;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.4;
    /* (22px / 18px */
  }
}

h5 {
  font-size: 1em;
  text-transform: uppercase;
  /* 1.125x body copy size = 18px */
  line-height: 1.0;
}


h6 {
  font-size: .6em;
  /* 1.125x body copy size = 18px */
  line-height: 1em;
}

@media (min-width: 43.75em) {
  h6 {
    font-size: 1em;
    line-height: 1em;
    /* (22px / 18px */
  }
}

p {
  font-size: .9rem;

  line-height: 1rem;
}

@media (min-width: 43.75em) {
  p {
    font-size: 1rem;
      line-height: 1.625rem;

  }
}





.display-1, .display-2, .display-3, .display-4 {
  font-family: museo-sans, sans-serif;
  line-height: 1.25;
} 

@media (min-width: 43.75em) {
    .display-1, .display-2, .display-3, .display-4 {    
      line-height: 1.125;}
  }


.blockquote {
  font-size: 1.1em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75em) {
  .blockquote {
    font-size: 1.25em;
    /* 24px / 16px = */
    line-height: 1.50833333;
    /* 35px / 24px */
  }
}

b,strong{
	font-weight:700;
}
a:focus{
	border: 0;
	outline: none;	
}


