

.highlight pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
}

.highlight {
  
    background-color: #f7f7f9;
}

.nt {
    color: #2f6f9f;
}

.na {
    color: #4f9fcf;
}

.s {
    color: #d44950;
}

.nc {
    color: #0a8;
}

.nl {
    color: #99f;
}

.m {
    color: #f60;
}


$white: #ffffff;
$indigo: #38138E;
$red: #D85B56;
$blue: #6AB7E1;