form {
	text-align: left;
	letter-spacing: 1px;
	padding-bottom: 3em;
	padding-top: 5em;
}

.form-group {
	padding-bottom: 1em;
}

input {
	font-size: 0.8em;
}

label {
	text-transform: uppercase;
	letter-spacing: 2px;
}
