
@import "./abstracts/variables";


nav {
	background: $white; 
	text-align: center;
	text-transform: uppercase;
	font-size: 1.1em;
	letter-spacing: 2px;
}


.nav-link.active {
	color: $well-blue;
}

/*nav menu button*/

.navbar-toggler {
	border: none;
	background-color: none;
}

.navbar-toggler-icon span {
	background-color: $white;
}


.navbar-nav li {
	padding-right: 1em;
}

.navbar {
  background: $white;
}


/* Navigation */
.nav-tabs .nav-link {
    border: 0px solid transparent;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    padding-top: 1rem;
}




/* Navs */

.nav-tabs .nav-link {
  color: $smoke;
}

.nav-tabs .nav-link:hover {
  color: $burnt-charcoal;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: $light-smoke;
    background-color: $white;
    border-color: transparent;
    box-shadow: none;
}

.nav-tabs {
  border-bottom: 1px solid transparent;
}

a .nav-link {
  color: $light-smoke;
}
 