




$white: #ffffff;
$black: #000000;

$indigo: #38138E;
$red: #D85B56;
$blue: #6AB7E1;
$creme: #FFFAF0;


#C40B07;  /*red*/ 

$platinum: #555;
$gold: #C48E29;
$silver: #ccc;

$well-blue: #429DB5;

$air-color: #144249;
$water-color: #0B667F;
$nourishment-color: #0A7B98;
$light-color: #3C9EB7;
$fitness-color: #92CCD4;
$comfort-color: #A8D6AD;
$sound-color: #63AA85;
$material-color: #41937D;
$mind-color: #306B5E;
$community-color: #23483E;



// Variables for Include Media //
$color-red-error: rgb(185, 74, 72) !default;
$color-grey-arrow: rgba(204, 204, 204, 0.2) !default;

$width-default: 220px !default; // 3 960px-grid columns

$zindex-select-dropdown: 1060 !default; // must be higher than a modal background (1050)

//** Placeholder text color
$input-color-placeholder: #999 !default;


