.highlight {
    background-color: #f7f7f9;
}

.highlight pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
}

.nt {
    color: #2f6f9f;
}

.na {
    color: #4f9fcf;
}

.s {
    color: #d44950;
}

.nc {
    color: #0a8;
}

.nl {
    color: #99f;
}

.m {
    color: #f60;
}

.k {
    color: #069;
}

.nd {
    color: #99f;
}


.shadow {
    box-shadow: 0 2px 4px 0 rgba(207,207,207,0.50);
}


.bg-white {
    background: #fff;
}