




body {
  background:  $white;
}

mark {
   background-color: $blue;
   color: #fff;
}


/*nav menu button*/

.navbar-toggler {
  border: none;
  background-color: none;
}

.navbar-toggler-icon span {
  background-color: white;
}


.navbar-nav li {
  padding-right: 1em;
}


.gradbg {
  z-index: -11111;
}



/* General */

body {
  background-color: #F4F5F7;
  padding-bottom: 5%;
  max-width: 1600px;
  margin: 0 auto;
}

.upper {
  text-transform: uppercase;
}

.shadow {
      box-shadow: 0 2px 4px 0 rgba(207,207,207,0.50);
}

/*
.shadow:hover {
      box-shadow: 0 2px 4px 2px rgba(207,207,207,0.50);
}
*/

.bg-white {
  background-color: #fff;
}

.bg-blue {
  background-color: #49A1B8;
}

.bg-blue* {
  color: #fff;
}

.img-frame {
  margin-left: -15px; 
  margin-right: -15px;
  padding: 1em;
}

.center {
  margin: 0 auto;
}

.pt-100 {
  padding-top: 100px;
}

.br-10 {
  border-radius: 10px;
}

.h-15 {
  height:15rem;
}




/* Basic */


a {
  cursor: pointer;
  color: #626262;
  text-decoration: none;
}

a:focus, a:hover {
   opacity: .8;
   color: #626262;
   text-decoration: none;
 }



.no-line {
  text-decoration: none;
}

.blue-link {
  color: #429DB5;
}

.blue-link:focus, .blue-link:hover {
  color: #106680;
}


.white-link {
  color: #fff;
}

.white-link:focus, .white-link:hover {
  color: #fff;
}

.authorline a{
  color: #aaa;
}
  


.todolist {
  margin-top: 2em;
}


.profile img{
  border-radius: 100%;
}

.signup {
  color: #aaa;
}


.aggregateheader {
  height: 16em;
  z-index: 555;
}






/* Lines */

.gray-line {
border-bottom: 2px solid #F4F5F7;
}


.dotted-line-lg {
  border-bottom: 5px dotted #F4F5F7;
}

.dotted-line-sm {
  border-bottom: 2px dotted #F4F5F7;
}


  
/* Tables */

table {
  margin-bottom: 0rem;
}
  
  


